
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    
    #navi{
        width: 100%;
        height: 100vh;
        /*background-color: #68688da1;*/
        background-image: url(sky.jpg);
         background-size: cover;
    }
    
    
    nav{
        width: 100%;
        height: 100px;
        background-color: #fff7;
        /*opacity: 0.9;*/
        line-height: 100px;
    }
    
    nav ul{
        float: right;
        margin-right: 70px;
        
    }
    
    nav ul li{
        list-style-type: none;
        display: inline-block;
    }
    
    nav ul li:hover{
        background-color: rgba(114, 110, 110, 0.6);
        
    }
    
    nav ul li a{
        text-decoration: none;
        color: #000;
        padding: 20px;
    }
    nav img{
        margin-left: 90;
        margin-top: 0;
    }
    section {
        height: 100vh;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    #project2 {
        background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)); 
        margin-top: 100px;
    }
    #project1{
        background-image: url("buil.jpg");
        background-size: cover;
    }
    h1{
            /*background-color: rgba(58, 58, 58, 0.664);*/
            font-size: 3em;
            color:#fff;
            text-align: center;
            margin-top: 5vh;
            font-weight: normal;
            width:500px; 
            height: 70px;
            background-color: #000000;
            opacity: .45;
    
    }
    #project3 .section-inner {
        position: relative;
        font-family: Arial;
      }
      footer{
        font-family: 'Permanent Marker', cursive;
        font-family: 'Amaranth', sans-serif;
        font-family: 'Sorts Mill Goudy', serif;
        background: #282828;
        background: linear-gradient(-45deg, #A52A2A, #CD853F, #23a6d5, #A0522D) ;
        background-size: 400% 400%;
        animation: Gradient 15s ease infinite;
    }
    
    @-webkit-keyframes Gradient {
        0%{
            background-position: 0% 50%;
        }
    
        50%{
            background-position: 100% 50%;
        }
    
        100%{
            background-position: 0% 50%;
        }
    }
    
    .media{
        position: absolute;
        left: 50%;	
        margin-top:40px;
        transform: translate(-52%, -50%);
    }
    
    .media li{
        list-style: none;
        margin: 20px 20px;
        display: inline-block;
        font-size: 10px;
        padding: 20px 25px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: .5s;
        overflow: hidden;
    }
    
    .media li:hover{
        color: #292929;
        border: 1px solid #292929;
        transition: .5s;
    }