*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-inner{
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#home1{
    background-image:linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)),url("home.jpg");
    background-size: cover;
    background-position: center;
    height: 120vh;
}

#home1 h2{

    font-family: 'Permanent Marker', cursive;
    justify-items: center;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
}

.section-inner1{
    height: 100vh;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#home2 {
    background-image:linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)),url("001.jpg");
    background-size: cover;
    background-position: center;
    height: 150vh;
}

#home2 h1{
    margin-top: 60px;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Amaranth', sans-serif;
    font-size: 50px;
}

#home2 p{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
}