
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    
    #navi{
        width: 100%;
        height: 100vh;
        background-image: url("water.jpg");
        /*background-color: #68688da1;*/
        background-size: cover;
    }
    nav{
        width: 100%;
        height: 100px;
        background-color: #fff7;
        /*opacity: 0.9;*/
        line-height: 100px;
    }
    
    nav ul{
        float: right;
        margin-right: 70px;
        
    }
    
    nav ul li{
        list-style-type: none;
        display: inline-block;
    }
    
    nav ul li:hover{
        background-color: rgba(114, 110, 110, 0.6);
        
    }
    
    nav ul li a{
        text-decoration: none;
        color: #000;
        padding: 20px;
    }
    nav img{
        margin-left: 90;
        margin-top: 0;
    }
    section {
        height: 100vh;
        border: none;
        display: flex;
        
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
  
    #project1{
        background-image: url("water.jpg");
        background-size: cover;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    h1{
        /*background-color: rgba(58, 58, 58, 0.664);*/
        font-size: 3em;
        color:#fff;
        text-align: center;
        margin-top: 5vh;
        font-weight: normal;
        width:600px; 
        height: 150px;
        background-color: #000000;
        opacity: .45;
    }
    
    #project2 .section-inner h2{
        /*position: absolute;*/
        margin-top:300px;
        margin-left: 880px;
        
    }

    #project2 p{
        margin-top: 50px;
        margin-left: 880px;

    }

    #project3{
        background-color: #fff;
        height: 50vh;
    }

    .slidershow{
        width: 600px;
        height: 400px;
        overflow: hidden;
        
    }
    
    .middle{
        position: absolute;
        top: 180%;
        left: 35%;
        transform: translate(-50%,-50%);
    }
    .navigation{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    .bar{
        width: 10px;
        height: 10px;
        border: 2px solid #fff;
        margin: 8px;
        cursor: pointer;
        transition: 0.4s;
    }
    .bar:hover{
        background: #fff;
    }
    
    input[name="r"]{
        position: absolute;
        visibility: hidden;
    }
    
    .slides{
        width: 500%;
        height: 100%;
        display: flex;
    }
    
    .slide{
        width: 20%;
        transition: 0.6s;
    }
    
    .slide img{
        width: 100%;
        height: 100%;
    }
    
    #r1:checked ~ .s1{
        margin-left: 0%;
    } 
    
    #r2:checked ~ .s1{
        margin-left: -20%;
    } 
    
    #r3:checked ~ .s1{
        margin-left: -40%;
    } 
    
    #r4:checked ~ .s1{
        margin-left: -60%;
    } 

      footer{
        font-family: 'Permanent Marker', cursive;
        font-family: 'Amaranth', sans-serif;
        font-family: 'Sorts Mill Goudy', serif;
        background: #282828;
        background: linear-gradient(-45deg, #A52A2A, #CD853F, #23a6d5, #A0522D) ;
        background-size: 400% 400%;
        animation: Gradient 15s ease infinite;
    }
    
    @-webkit-keyframes Gradient {
        0%{
            background-position: 0% 50%;
        }
    
        50%{
            background-position: 100% 50%;
        }
    
        100%{
            background-position: 0% 50%;
        }
    }
    
    .media{
        position: absolute;
        left: 50%;	
        margin-top:40px;
        transform: translate(-52%, -50%);
    }
    
    .media li{
        list-style: none;
        margin: 20px 20px;
        display: inline-block;
        font-size: 10px;
        padding: 20px 25px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: .5s;
        overflow: hidden;
    }
    
    .media li:hover{
        color: #292929;
        border: 1px solid #292929;
        transition: .5s;
    }