*{
  margin: 0;
  padding: 0;
  font-family: 'Kulim Park', sans-serif;
}
#navi{
  width: 100%;
  height: 100vh;
  /*background-color: #68688da1;*/
  background-image: url(geometra.jpg);
  background-size: cover;
}


nav{
  width: 100%;
  height: 100px;
   background-color: rgba(255, 255, 255, 0.918);
  /*opacity: 0.9;*/
  line-height: 100px;
}

nav ul{
  float: right;
  margin-right: 70px;
  
}

nav ul li{
  list-style-type: none;
  display: inline-block;
}

nav ul li:hover{
  background-color: rgba(114, 110, 110, 0.6);
  
}

nav ul li a{
  text-decoration: none;
  color: #000;
  padding: 20px;
}
nav img{
  margin-left: 90px;
  margin-top: 0;
}

.drop{
    display: none;
    cursor: pointer;
}

.drop div{
    width: 25px;
    height: 3px;
    background-color: silver;
    margin: 5px;
}

.nav-link:hover{
    background-color: #ddd;
    color: black;
}

.nav-link a.active{
    background-color: #4CAF50;
  color: white;
}

.nav-link .icon{
    display: none;
}

@media screen and (max-width: 600px) {
    .nav-link a:not(:first-child) {display: none;}
    .nav-link a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav-link.responsive {position: relative;}
    .nav-link.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-link.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  footer{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Amaranth', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
    background: #282828;
    background: linear-gradient(-45deg, #A52A2A, #CD853F, #23a6d5, #A0522D) ;
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

.media{
    position: absolute;
    left: 50%;	
    margin-top:40px;
    transform: translate(-52%, -50%);
}

.media li{
    list-style: none;
    margin: 20px 20px;
    display: inline-block;
    font-size: 10px;
    padding: 20px 25px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .5s;
    overflow: hidden;
}

.media li:hover{
    color: #292929;
    border: 1px solid #292929;
    transition: .5s;
}
