.section-inner{
    height: 100vh;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#home1{
   /* background-image:linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)),url("geometra.jpg");*/
   background-image: url("geometra.jpg"); 
   background-size:cover;
    background-position: center;
    /*width: 1400px;*/
    height: 100vh;

}

#home1 h2{    
    font-family: 'Kulim Park', sans-serif;
    font-size: 50px;
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 5vh;
    font-weight: normal;
    width:600px; 
    height: 70px;
    background-color: #000000;
    opacity: .45;
}
